:root{
    font-size: 16px;
}


/* -----------------------
    - SCROLL REVEAL 
------------------------- */
[data-reveal] {
    transform: translateY(50px);
    opacity: 0;
    transition: all ease-in-out .5s;
}

[data-reveal="left"] {
    transform: translate(-50px, 0);
}

[data-reveal="right"] {
    transform: translate(50px, 0);
}

[data-reveal].revealed {
    transform: translate(0, 0);
    opacity: 1;
}
